<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="timmy.application.com.landoftimmy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/icon" android:theme="@style/CustomActionBarTheme"
        android:name="com.application.timmy.TimmyApplication">

        <activity
            android:name="com.application.timmy.ui.OfficeMapActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.application.timmy.ui.LifeDisplayActivity"
            >
        </activity>


        <activity
            android:name="com.application.timmy.ui.LifeDepartmentGraph"
            >
        </activity>

        <activity
            android:name="com.application.timmy.ui.BarChartActivityMultiDataset"
            >
        </activity>

        <activity
            android:name="com.application.timmy.ui.AddMeActivity"
            >
        </activity>

        <activity
            android:name="com.application.timmy.ui.ChooseLifeEventActivity"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>

        <receiver android:name="com.application.timmy.events_scheduler.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.application.timmy.events_scheduler.LifeEventsService" />
    </application>

</manifest>
